<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.nuc.ssm.dao.FollowMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.nuc.ssm.modle.Follow" >
    <id column="followid" property="followid" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="targetuserid" property="targetuserid" jdbcType="INTEGER" />
    <result column="followsta" property="followsta" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    followid, userid, targetuserid, followsta
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from follow
    where followid = #{followid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from follow
    where followid = #{followid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.nuc.ssm.modle.Follow" >
    insert into follow (followid, userid, targetuserid, 
      followsta)
    values (#{followid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{targetuserid,jdbcType=INTEGER}, 
      #{followsta,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.nuc.ssm.modle.Follow" >
    insert into follow
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="followid != null" >
        followid,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="targetuserid != null" >
        targetuserid,
      </if>
      <if test="followsta != null" >
        followsta,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="followid != null" >
        #{followid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="targetuserid != null" >
        #{targetuserid,jdbcType=INTEGER},
      </if>
      <if test="followsta != null" >
        #{followsta,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.nuc.ssm.modle.Follow" >
    update follow
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="targetuserid != null" >
        targetuserid = #{targetuserid,jdbcType=INTEGER},
      </if>
      <if test="followsta != null" >
        followsta = #{followsta,jdbcType=INTEGER},
      </if>
    </set>
    where followid = #{followid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.nuc.ssm.modle.Follow" >
    update follow
    set userid = #{userid,jdbcType=INTEGER},
      targetuserid = #{targetuserid,jdbcType=INTEGER},
      followsta = #{followsta,jdbcType=INTEGER}
    where followid = #{followid,jdbcType=INTEGER}
  </update>
</mapper>