<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nuc.ssm.dao.UserinfoMapper">

<!-- +++++++++++++++++++++++++++++++防覆盖护体盾+++++++++++++++++++++++++++++++++++++++ -->
  <resultMap id="BaseResultMap" type="cn.edu.nuc.ssm.model.Userinfo">
    <id column="infoid" jdbcType="INTEGER" property="infoid" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="usersex" jdbcType="VARCHAR" property="usersex" />
    <result column="introduce" jdbcType="VARCHAR" property="introduce" />
    <result column="mail" jdbcType="VARCHAR" property="mail" />
    <result column="birth" jdbcType="DATE" property="birth" />
  </resultMap>
  <sql id="Base_Column_List">
    infoid, userid, usersex, introduce, mail, birth
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from userinfo
    where infoid = #{infoid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from userinfo
    where infoid = #{infoid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.nuc.ssm.model.Userinfo">
    insert into userinfo (infoid, userid, usersex, 
      introduce, mail, birth
      )
    values (#{infoid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{usersex,jdbcType=VARCHAR}, 
      #{introduce,jdbcType=VARCHAR}, #{mail,jdbcType=VARCHAR}, #{birth,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.nuc.ssm.model.Userinfo">
    insert into userinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="infoid != null">
        infoid,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="usersex != null">
        usersex,
      </if>
      <if test="introduce != null">
        introduce,
      </if>
      <if test="mail != null">
        mail,
      </if>
      <if test="birth != null">
        birth,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="infoid != null">
        #{infoid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="usersex != null">
        #{usersex,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null">
        #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="mail != null">
        #{mail,jdbcType=VARCHAR},
      </if>
      <if test="birth != null">
        #{birth,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.nuc.ssm.model.Userinfo">
    update userinfo
    <set>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="usersex != null">
        usersex = #{usersex,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null">
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="mail != null">
        mail = #{mail,jdbcType=VARCHAR},
      </if>
      <if test="birth != null">
        birth = #{birth,jdbcType=DATE},
      </if>
    </set>
    where infoid = #{infoid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.nuc.ssm.model.Userinfo">
    update userinfo
    set userid = #{userid,jdbcType=INTEGER},
      usersex = #{usersex,jdbcType=VARCHAR},
      introduce = #{introduce,jdbcType=VARCHAR},
      mail = #{mail,jdbcType=VARCHAR},
      birth = #{birth,jdbcType=DATE}
    where infoid = #{infoid,jdbcType=INTEGER}
  </update>
  
  <!-- +++++++++++++++++++++++++++++++防覆盖护体盾+++++++++++++++++++++++++++++++++++++++ -->
</mapper>